/* src/App.css */

body {
  background-color: #D5DEEF; /* Cambia el color de fondo del cuerpo a celeste */
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
  font-family: Arial, sans-serif; /* Define la fuente predeterminada para toda la aplicación */
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.App-header {
  background-color: #125aeb;
  padding: 20px;
  color: rgb(102, 204, 127);
  text-align: center;
  margin-bottom: 20px;
}

.App-main {
  flex: 1;
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: hwb(245 72% 5%);
  margin: 20px 0;
  padding: 5px;
}

/* Estilos para botones */
.button-group {
  display: flex;
  gap: 10px; /* Espacio entre botones */
  margin-bottom: 10px; /* Espacio debajo del grupo de botones */
}

button {
  padding: 7px 15px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
  filter: brightness(1.2) hue-rotate(180deg); /* Aumenta el brillo y gira el tono a celeste */
}


.btn-edit {
  background-color: #008CBA; /* Color azul para Editar */
  color: white;
}

.btn-delete {
  background-color: #f44336; /* Color rojo para Eliminar */
  color: white;
}

.btn-save {
  background-color: #4CAF50; /* Color verde para Confirmar */
  color: white;
}

.btn-cancel {
  background-color: #e7e7e7;
  color: black;
}

.btn-load {
  background-color: #008CBA;
  color: white;
}